<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d - %C [%M] -(%p) %m %n">

            </PatternLayout>
        </Console>
        <File name="LogToFile" fileName="logs/myapp.log">
            <PatternLayout pattern="%d - %C [%M] -(%p) %m %n">

            </PatternLayout>
        </File>


    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="LogToConsole"></AppenderRef>
            <AppenderRef ref="LogToFile"></AppenderRef>
        </Root>

    </Loggers>
</Configuration>